---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Hello Astro!</h1>
	<h2>Hello Astro 2!</h2>
	<h3>Welcome</h3>
</Layout>
<style>

</style>
